.menu ul {
  list-style: none;
  padding: 30px;
  width: max-content;
}

.menu ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #657786;
}

.menu ul li a {
  text-decoration: none;
  color: #657786;
  font-size: 25px;
}
